// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fdfdfd;

$baseColor: #00B4FF;
$baseColorDark: #0090CC;
$baseColorDarker: #005A7F;

$mainColor: #333;
$headingColor: $baseColorDark;

$mainFontSize: 36px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;
$linkColor: $baseColor;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
  &, h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal section img {
  border: none;
}

.span6 {
  width: 50%;
}
[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}

.reveal {
  background-image: url(../../images/decitre.png);
  background-repeat: no-repeat;
  background-position: 40px 40px;
  pre {
    width: 100%;
    box-shadow: none;
    code {
      padding: 10px;
    }
  }

  .source {
    font-size: 0.5em;
  }

  ul {
    &.no-style {
      list-style: none;
    }

    li {
      line-height: 1.5em;
    }
  }

  .list-header {
    line-height: 2em;
    font-weight: bold;
  }

  .strong {
    font-weight: bold;
  }

  .margin-bottom {
      margin-bottom: .5em;
  }

  .smaller {
    font-size: 75%;
  }

  .legend {
    font-size: 75%;
    font-style: italic;
  }

  blockquote {
    text-align: left;
    padding: 20px;
    font-style: normal;
    background: #eee;
    .author {
      margin-top: 1em;
      text-align: right;
      font-style: italic;
    }
  }

  .victory {
    font-family: monospace;
    display: block;
    font-size: 3em;
    line-height: 3em;
    vertical-align: middle;
    text-align: center;
  }
}

section[data-background] {
  > h1,
  > h2,
  .block-title {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 1.5em;
    color: $baseColorDarker;
  }

  .block-title--main {
    padding: 1em 0.1em;
  }
}


